.OpenSearchContainer-component {
    background-color: beige;
}

.OpenSearch-container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.Utility-container {
    border: 2px solid black;
    background-color: #d9b3ff;
    padding: 12px;
}

.searchButton {
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 82%;
    font-size: 18px;
    width: 80px;
    color: white;
    background-color: darkblue;
    padding: 2px 8px;
}
.searchTerms-SearchBox {
    width:99%;
}
.searchTerms-SearchBox label {
    width: 5%;
    padding: 10px;
}
.searchTerms-SearchBox input {
    width: 86%;
}