

.OpenSearch-search-results {
    border: 2px solid black;
}

.Results-BorderBox {
    border: 12px solid lightblue;
    background-color: #ffe066;
}
.OpenSearch-search-results p {
    padding: 4px 10px;
}
.OpenSearch-search-results span {
    margin-left: 12px;
    background-color: beige;
    
}