.AppHeader-container {
    width: 100%;
    background-color: lightblue;
    min-height: 40px;
}

.AppHeader-subcontainer {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.AppHeader-subcontainer div {
    padding-top: 4px;
    vertical-align: middle;
}

.AppHeader-link {
    display: inline-block;
    padding-left: 2px;
    padding-right: 18px;
}

.AppHeader-link a {
    display: inline-block;
}