.ErrorMessage-Container {
    background-color: red;
    padding:4px;
    margin-top: 12px;
}
.ErrorMessage {
    background-color: lightpink;
    margin: 4px;
    padding: 12px;
}

.ErrorMessage-contents {
    background-color: white;
    color: red;
    text-align: center;
}