.App {
    text-align: center;
  }
  
  img.App-logos {
    height: 14vmin;
    display: inline-block;
  }
  
  .AppExplanation {
    width: 440px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
    padding: 20px;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #09d3ac;
  }
  
.HomePage-container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}