.AppFooter-container {
    min-height: 120px;
    background-color: slategray;
}

.AppFooter-subcontainer {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.AppFooter-explain {
    color: white;
}